/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


/* TinderTab */
.background{
	-fx-background-color:   #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
	-fx-text-base-color: #ffffff;
	-fx-text-fill: #ffffff;
}
.likeDislikeBtn {
	-fx-background-radius: 50;
	    -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #989ca1 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 13px;
    -fx-padding: 10 20 10 20;
}

#imgBox {
	-fx-background-color: #ffffff;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 8, 0.5, 0.0, 0.0);
}

.imageView {
	-fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0.5, 0.0, 0.0);
}
	
#labelUser {
	-fx-text-fill: #9e9e9e;
	-fx-font-weight: bold;
}
/* favTableView Tab */
.table-view .column-header {
    -fx-size: 1;
	visibility: hidden;
}
/* Scrollbars in der FavTableView "ausgeblendet" */
.table-view .scroll-bar * {
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}
.table-row-cell {
	-fx-border-color: #38424b;
	-fx-background-color: rgba(114,131,148,0.9),
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
		radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
}
   /* selection in favTableView ohne farbiges Highlight */
.table-row-cell:filled:selected { 
	-fx-background: -fx-control-inner-background ;
	-fx-background-color: rgba(114,131,148,0.9),
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
		radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
	-fx-background-insets: 0, 0 0 1 0 ;
	-fx-table-cell-border-color: derive(-fx-color, 5%);
}
.table-row-cell:odd:filled:selected {
	-fx-background: -fx-control-inner-background-alt;
}

/*  */
.table-column {
	-fx-text-fill: white;
	-fx-alignment: CENTER;
	-fx-table-cell-border-color: transparent;
}


/*  weißer Rahmen um Images in favTableView */
.panImg-border {
    -fx-border-color: #ffffff ;
    -fx-border-width: 4 ;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 8, 0.5, 0.0, 0.0);
}
.favBtn  {
    -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #989ca1 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 13px;
    -fx-padding: 10 20 10 20;
}
.favBtn Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.9) , 1, 0.0 , 0 , 1 );
}